
@using Taktivite.Entity.ValueObject
@model Taktivite.Entity.ValueObject.RegisterViewModel
@{
    ViewBag.Title = "Kayıt İşlemleri";
   Layout = null;
}

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Kayıt İşlemleri</title>
   
    <link href="~/Content/Account.css" rel="stylesheet" />
</head>

<body>
    @using (Html.BeginForm())
    {

        <div class="container">
            <div class="box ">
                <div class="col-7 description " id="description">
                    <br />  <br /><br />
                    <div class="col-12 logo">Logo</div>
                    <br />
                    <br /><br />  <br /><br />  <br /><br />
                    <p style="line-height:25px;">Bir hesap oluşturarak daha hızlı arkadaş edinebilirsiniz, Anın tadını çıkartıp hayatla  ilgili güncel bilgiler edinebilir ve hiç görmediğiniz insanlarla tanışabilirsiniz görebilirsiniz.</p>
                    <br /><br />
                </div>
                <div class="col-5 form">


                    @*--------------------------Register Form--------------------------*@
                    <form method="post" name="register" id="register" class="register">
                        <br /><br />
                        <h3 class="col-12 ">Bize Katıl</h3>
                        <div class="col-12 userName ">
                            @*<input type="email" id="registerUserMail" pattern="[a-zA-Z0-9_-]{6,12}" onfocus="RegisterUserMailFocus('registerUserMail')" onfocusout="RegisterUserMailFocusOut('registerUserMail')" placeholder="Kullanıcı Adı veya e-posta" maxlength="30" />*@
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı", type = "text", })
                        </div>
                        <div class="col-12 userPassword ">
                            @*<input type="password" id="registerUserPassword" autofocus required title="Şifre 4 ve 12 karakter arası olmalı." pattern="[a-zA-Z0-9_-]{6,12}" onfocus="RegisterUserPasswordFocus('registerUserPassword')" onfocusout="RegisterUserPasswordFocusOut('registerUserPassword')" placeholder="Şifre" maxlength="12" />*@
                            @Html.TextBoxFor(model => model.UserPassword, new { @class = "form-control", placeholder = "Şifre", type = "password", })
                        </div>
                        <div class="col-12 userFirstName ">
                            @*<input type="text" id="registerUserFirstName" pattern="[a-zA-Z0-9_-]{6,12}" onfocus="RegisterUserNameSurnameFocus('registerUserFirstName')" onfocusout="RegisterUserNameSurnameFocusOut('registerUserFirstName')" placeholder="Ad" maxlength="14" />*@
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Adınız", type = "text", })
                        </div>
                        <div class="col-12 userSurname ">
                            @*<input type="text" id="registerUserSurname" pattern="[a-zA-Z0-9_-]{6,12}" onfocus="RegisterUserNameSurnameFocus('registerUserSurname')" onfocusout="RegisterUserNameSurnameFocusOut('registerUserSurname')" placeholder="Soyad" maxlength="14" />*@
                            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder = "Soyadınız", type = "text", })
                        </div>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="col-12 loginButton ">
                            <input type="submit" value="Bize Katıl" />

                        </div>
                        <div class="col-12 registerButton ">
                            <a href="~/Users/Login">Giriş Yap</a>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    }
</body>


</html>

